body{
  background-color: lightgreen;
}

table{
  width: 500px;
  border-collapse: collapse;
  background-color: blue;
}

th,td{
  text-align: center;
  border:1px solid black;
  border-collapse: collapse;
  width:100px;
  height:50px;
}

tr:nth-child(even){
  background-color: yellow;
}
